<center>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header card-header-primary">
				<h3 class="card-title">Flights Search</h3>
				<p class="card-category">Please provide the following details</p>
			</div>
			<div class="card-body">
				<form (ngSubmit)="registerUser()">
					<!-- <div class="col-sm-8">
						<div class="form-group">
							<input type="number" [(ngModel)]="user.id" name="id" placeholder="ID" class="form-control" />
						</div>
					</div> -->
					<div class="col-sm-8">
						<div class="form-group">	
							<input type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="From" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="To" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="date" [(ngModel)]="user.email" name="email" placeholder="Departure Date" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="date" [(ngModel)]="user.password" name="password" placeholder="Return Date" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="number" [(ngModel)]="user.contactNo" name="contactNo" placeholder="Class" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="number" [(ngModel)]="user.contactNo" name="contactNo" placeholder="Passengers" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<div class="form-check form-check-radio">
								<div class="row">
									<div class="col-sm-6">
										<label class="form-check-label">
											<input class="form-check-input" type="radio" name="radio" id="one-way" value="0" [(ngModel)]="user.gender">
											One Way
											<span class="circle">
												<span class="check"></span>
											</span>
										</label>
									</div>						
									<div class="col-sm-4">
										<label class="form-check-label">
											<input class="form-check-input" type="radio" name="radio" id="round-trip" value="1" [(ngModel)]="user.gender">
											Round Trip
											<span class="circle">
												<span class="check"></span>
											</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>				
					<button mat-raised-button class="btn btn-success" type="submit">Register</button>
					<a href="/login" mat-raised-button class="btn btn-primary">Login</a>
				</form>
			</div>
		</div>
	</div>
</center>