<center>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header card-header-primary">
				<h3 class="card-title">Edit Airport</h3>
				<p class="card-category">Please provide the following details</p>
			</div>
			<div class="card-body">
				<form [formGroup]="editForm" (ngSubmit)="updateAirport()">
					<div class="col-sm-8">
						<div class="form-group">	
							<input type="text" formControlName="airport.id" name="id" placeholder="ID" value="{airport.id}" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="text" formControlName="airport.name" name="name" placeholder="Name" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="text" formControlName="airport.city" name="city" placeholder="City" class="form-control" />
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<input type="text" formControlName="airport.state" name="state" placeholder="State" class="form-control" />
						</div>
					</div>
					<button mat-raised-button class="btn btn-warning" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</center>