<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Reservations</h4>
						<p class="card-category">List of available Reservations</p>
					</div>
					<div class="card-content table-responsive table-full-width">
						<table class="table">
							<thead class="text-danger">
								<th>Flight ID</th>
								<th>Class</th>
								<th>Status</th>
								<th>Total Fare</th>
								<th>Returned Amount</th>
								<th>Created at</th>
								<th>Cancel</th>
							</thead>
							<tbody>
								<tr *ngFor="let reservation of reservations">
									<td>{{ reservation.flightId }}</td>
									<td>{{ getCabinClassName(reservation.cabinClass) }}</td>
									<td>{{ getStatusName(reservation.isCancelled) }}</td>
									<td>{{ reservation.totalFare }}</td>
									<td>{{ reservation.returnedAmount }}</td>
									<td>{{ reservation.createdAt }}</td>
									<td><button mat-raised-button class="btn btn-danger btn-sm"
											(click)="cancelReservation(reservation)"><i class="material-icons">close</i></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>